.chip8 {
  --base-size: 0.9;

  --title-row: min(4rem * var(--base-size), 4vw * var(--base-size));
  --disp-row: min(32rem * var(--base-size), 32vw * var(--base-size));
  --desc-row: min(16rem * var(--base-size), 16vw * var(--base-size));

  --progs-col: min(16rem * var(--base-size), 16vw * var(--base-size));
  --disp-col: min(64rem * var(--base-size), 64vw * var(--base-size));

  --font-size: min(1.5rem * var(--base-size), 1.5vw * var(--base-size));
  --gap-size: min(0.5rem * var(--base-size), 0.5vw * var(--base-size));

  display: grid;
  grid-template-areas:
    "titleBar    titleBar   "
    "programList display    "
    "description description";
  grid-template-rows: var(--title-row) var(--disp-row) var(--desc-row);
  grid-template-columns: var(--progs-col) var(--disp-col);
  gap: var(--gap-size);
  padding: var(--gap-size);
  background: #00ffff;
}

.titleBar {
  grid-area: titleBar;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  font-weight: bold;
  font-size: var(--font-size);
}

.programList {
  grid-area: programList;
  font-size: var(--font-size);
  padding: var(--gap-size);
  background: black;
  font-weight: bold;
  overflow-y: auto;
}

.programList > div:hover {
  color: white;
}

.display {
  grid-area: display;
}

.display canvas {
  width: 100%;
  height: 100%;
  background: black;
}

.description {
  grid-area: description;
  background: black;
  padding: var(--gap-size);
  font-weight: bold;
  font-size: var(--font-size);
  overflow-y: auto;
}
