.chip8 {
  position: relative;
  display: grid;
  grid-template-areas:
    "titleBar    titleBar    titleBar"
    "programList display     display "
    "info        description keypad  ";
  grid-template-rows: 3rem 1fr 18rem;
  grid-template-columns: 24rem 1fr 18rem;
  gap: var(--gap-size);
  padding: var(--gap-size);
  width: 100vw;
  min-width: 70.95rem;
  height: 100vh;
  background-color: var(--on-color);
}
